RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^Index$ Index.php [L,QSA]
RewriteRule ^Activity$ Ui_Activity.php [L,QSA]
RewriteRule ^Add$ Ui_Add.php [L,QSA]
RewriteRule ^AddFile$ Ui_AddFile.php [L,QSA]
RewriteRule ^AdminSetup$ Ui_AdminSetup.php [L,QSA]
RewriteRule ^Edit$ Ui_Edit.php [L,QSA]
RewriteRule ^EditFile$ Ui_EditFile.php [L,QSA]
RewriteRule ^List$ Ui_List.php [L,QSA]
RewriteRule ^ListAdmin$ Ui_ListAdmin.php [L,QSA]
RewriteRule ^ListAdminMenuCategories$ Ui_ListAdminMenuCategories.php [L,QSA]
RewriteRule ^ShowDetail$ Ui_ShowDetail.php [L,QSA]
RewriteRule ^ShowPage$ Ui_ShowPage.php [L,QSA]
RewriteRule ^ShowPageMenu$ Ui_ShowPageMenu.php [L,QSA]
